/*body{*/
    
/*}*/

/* Nav stylyes*/
.nav-wrapper{
    display: flex;
    justify-content:space-between;
    padding:35px;
}
.left-side{
    display: flex;
}

.nav-wrapper > .left-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom:1px solid black;
}

.nav-link-wrapper a:hover{
    color: black;
}

/*upside style */
.upside{
    margin-bottom: 20px;
    text-align: center;
}
.choose{
    display: flex;
    justify-content: center;
    text-align: center;
    line-height:40px;
}

.chooseBox{
    border:1px solid black;
    background-color: white;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin: 0 10px;
}
.chooseBox:hover {
	box-shadow: 0 3px black;
	top: 2px;
}

.downside{
    background-color:#20B2AA;
    margin-bottom: 0;
    height: 350px;
}