<%- include ('partials/header') %>

    <div class="content-wrapper">
        <div class="portfolio-items-wrapper">
            
            <div onclick="javascript:window.location.href='/tic-tac-toe'; return false;" class="portfolio-item-wrapper">
                <div class="profolio-img-background" style="background-image:url(https://images-na.ssl-images-amazon.com/images/I/81%2BfiPfgdhL.png)">
                </div>  
                <div class="img-text-wrapper">
                    <div class="logo-wrapper">
                        <i class="fas fa-hashtag fa-5x"></i>
                    </div>
                    
                    <div class="subtitle">
                        Thia is awesome game.
                    </div>
                </div>
            </div>
            
            <div onclick="javascript:window.location.href='/rps'; return false;" class="portfolio-item-wrapper">
                <div class="profolio-img-background" style="background-image:url(https://static.vecteezy.com/system/resources/previews/000/690/865/non_2x/rock-paper-scissors-line-icons-vector.jpg)">
                </div>  
                <div class="img-text-wrapper">
                    <div class="logo-wrapper">
                        <i class="fas fa-hashtag fa-5x"></i>
                    </div>
                    
                    <div class="subtitle">
                        Thia is awesome game.
                    </div>
                </div>
            </div>
            
            <div class="portfolio-item-wrapper">
                <div class="profolio-img-background" style="background-image:url(https://images-na.ssl-images-amazon.com/images/I/81%2BfiPfgdhL.png)">
                </div>  
                <div class="img-text-wrapper">
                    <div class="logo-wrapper">
                        <i class="fas fa-hashtag fa-5x"></i>
                    </div>
                    
                    <div class="subtitle">
                        Thia is awesome game.
                    </div>
                </div>
            </div>
            
        </div>
    </div>

<%- include ('partials/footer') %>