<%- include ('partials/header') %>
    <div class="main">
        <div class = "game_img">
            <div class = "user_img">
                <img id="rock" src="https://www.thoughtco.com/thmb/QK4xBnky7yIInPoKDEL0axg1XAc=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/rhyolite-1057171452-5c911d4b46e0fb000187a397.jpg">
                <img id="paper" src="https://bpimediagroup.com/wp-content/uploads/2018/04/61qSdyDYbZL._SL1185_.jpg">
                <img id="scissor" src="https://www.pngkit.com/png/detail/42-426676_royalty-free-stock-collection-of-free-cessor-salon.png">
            </div>
            <div class = "computer_img">
                <img  src="https://www.thoughtco.com/thmb/QK4xBnky7yIInPoKDEL0axg1XAc=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/rhyolite-1057171452-5c911d4b46e0fb000187a397.jpg">
                <img  src="https://bpimediagroup.com/wp-content/uploads/2018/04/61qSdyDYbZL._SL1185_.jpg">
                <img  src="https://www.pngkit.com/png/detail/42-426676_royalty-free-stock-collection-of-free-cessor-salon.png">
            </div>
        </div>
        <div class="choose_show">
            <img id="choose_show_user">
            <img id="choose_show_computer">
        </div>
    </div>
    <script src="/scripts/rps.js"></script>
<%- include ('partials/footer') %>