<%- include ('partials/header') %>
    <div class="upside">
        <div class="choose">
            <button class="chooseBox" id="xChose">X</button>
            <!--<div class="chooseBox" id="xChose">X</div>-->
            <button class="chooseBox" id="oChose">O</button>
            <!--<div class="chooseBox" id="oChose">O</div>-->
        </div>
        <div id="userChose">
            <p id="para">this is your game</p>
        </div>
    </div>
    
    <div class="downside">
        <!-- display the board-->
            <div>game</div>
        <div class="container-board">
            <h1>Tic-Tac-Toe</h1>
            <div class="play-area">
                <div id="block_0" class="block"></div>
                <div id="block_1" class="block"></div>
                <div id="block_2" class="block"></div>
                <div id="block_3" class="block"></div>
                <div id="block_4" class="block"></div>
                <div id="block_5" class="block"></div>
                <div id="block_6" class="block"></div>
                <div id="block_7" class="block"></div>
                <div id="block_8" class="block"></div>
            </div>
        </div>
    </div>
    <script src="/scripts/tic.js"></script>
<%- include ('partials/footer') %>