<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
        <link rel="stylesheet" href="/stylesheets/tic.css">
    </head>
    <body>
        <div class="container">
                <div class="nav-wrapper">
        <div class="left-side">
            <div class="nav-link-wrapper">
                <a href="/">Home</a>
            </div>
            
            <div class="nav-link-wrapper">
                <a href="/">About</a>
            </div>
        </div>
        
        <div class="right-side">
            <div class="brand">
                <div>ViGame</div>
            </div>
        </div>
    </div>
            
            <div class="upside">
                <div class="choose">
                    <div class="chooseBox" id="xChose">X</div>
                    <div class="chooseBox" id="oChose">O</div>
                </div>
                <div id="userChose">
                    <p id="para">this is your game</p>
                </div>
            </div>
            
            <div class="downside">
                <div>game</div>
            </div>
        </div>
    </body>
    <script src="/scripts/tic.js"></script>
</html>