/*body{*/
    
/*}*/

.choose{
    display: flex;
    justify-content: center;
    text-align: center;
    line-height:40px;
}

#xChose{
    background-color: red;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin: 0 10px;
}
#oChose{
    background-color: red;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin: 0 10px;
}
.downside{
    background-color:#20B2AA;
    margin-bottom: 0;
}